<!DOCTYPE html>
<html lang="en">
<head>
    <title>Free Code Camp File Metadata Microservice project</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Free Code Camp File Metadata Microservice project</h2>
        <p>User stories:</p>
        <ul>
            <li>
                <p>I can submit a FormData object that includes a file upload.</p>
            </li>
            <li>
                <p>When I submit something, I will receive the file size in bytes within the JSON response</p>
            </li>
        </ul>
        
        
        <h4>Demo</h4>
         <form class="col-xs-12" method="POST" enctype="multipart/form-data" action="/">
          <div class="form-group">
            <label for="file">Check file size</label>
            <input type="file" name="file" required>
          </div>
          <button type="submit" class="btn btn-primary btn-large">Upload</button>
        </form>
        
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>